*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", sans-serif;

  }
  #github,
  #linkedin {
    cursor: pointer;
    transition: transform 0.3s;
  }
  #iconShower{
    font-size: 1rem;
  }
  
  #github:hover,
  #linkedin:hover {
    transform: scale(1.1);
  }
  .navbar, .Mynav {
    margin-right: 4rem;
    height: 10vh;
    width: 100%;
    background-color: #332b2b;
  }
  .anchor{
    color: white;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 0.90rem;
    
  }
  .anchor:hover {
    color: #CCCCCC;
  }
  h4{
    padding-top: 1rem;
    margin-left: 2rem;
  
  }
  
  .bi-github, .bi-linkedin {
  font-size: 3rem;
  margin-left: 1rem;
  }
  .start{
    height: 100vh;
    width: 100vw;
    background-image: url(images/background.jpg);
    padding-right: 3rem;
    padding-left: 1rem;
  }
  .pause{
  width:100vw;
  height: 15vh;
  background-color: #332b2b;
  }
  .contact{
    width: 100vw;
    height: 80vh;
    background-color: #030712;
  
  }
  
  .Photo {
  max-height: 60vh;
  margin-left: 1rem}
  
  
  .iconsGeral {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   grid-gap: 2.75rem;
   padding: 1rem;
   border-radius: 10px;
  
  }
  
  .aboutMe{
  height: 100vh;
  width: 100vw;
  background-color: #151515;
  }
  h1{
    text-align: center;
    align-content: center;
    padding-top: 6vh;
    }
  
  .aboutMeImage {
    animation: moveUpDown 2s infinite;
    margin-right: 2rem;
    width: 80vw;
    margin-top: 1rem;
    
    
  
  
    
  }
  .skills{
    height: 88vh;
    width: 100vw;
    background-color: #151515;
  }
  .portfolio{
    margin-right: 9rem;
  }

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .aboutMeText{
    letter-spacing: 3px;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    
  }
  .icons{
    width: 100%; /* Definir a largura como 100% para ocupar todo o espaço disponível */
    height: 10vh;
    margin-right: vw;
    transition: transform 0.3s;
    cursor: pointer;
    object-fit: contain; /* Faz com que a imagem se ajuste ao contêiner mantendo a proporção */
  }
  
  .icons:hover {
    transform: scale(1.3);
   
  }
  h3 {
    margin-left: 2rem;
    font-size: 1rem
  }
  
  h2 {
    margin-top: 2rem;
    text-align: center;
  }
  
  .projectsSection {
    width: 100vw;
    background-color: #151515;
    padding: 2rem;
  }
  
  .projectsImages {
    width: 50vw;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 50vw;
  }
  
  .projectsText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  
  .projectText {
    margin-left: 0;
  }
  
  .techItem {
    color: #17CA99;
    padding: 0.20rem;
    border: 4px solid #074337;
    border-radius: 5px;
    background-color: #074337;
    margin: 5px;
    margin-left: 0.25rem;
    justify-content: center;
  }
  
  .button {
    margin-top: 0.75rem;
    width: 150px; /* Largura fixa para os botões */
    white-space: nowrap; /* Impede a quebra de linha dentro dos botões */
    margin-left: auto;
    margin-right: auto;
  }
  .contactInputs {
    margin-top: 50px;
    width: 90%; /* Define a largura máxima para os elementos */
    max-width: 600px; /* Define uma largura máxima para evitar que os elementos fiquem muito largos em telas grandes */
    margin-left: auto; /* Centraliza a seção de contato horizontalmente */
    margin-right: auto;
  }
  
  .contactInputs input,
  .contactInputs textarea {
    width: 100%; /* Ocupa toda a largura disponível */
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #1F2937; /* Cor de fundo */
    border: none;
  
  }
  
  .contactInputs textarea {
    height: 150px;
  }
  
  .contactInputs input::placeholder,
  .contactInputs textarea::placeholder {
    color: #999;
  }
  
  .sendButton {
    width: 100%; /* Botão ocupa toda a largura do contêiner pai */
    max-width: 200px; /* Define uma largura máxima para evitar que o botão fique muito largo em telas grandes */
    margin-top: 10px;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .uniformText {
    font-size: 16px; /* ajuste o tamanho conforme necessário */
    line-height: 1.5;
}

.downloadButton {
    align-self: flex-end;
    margin-top: 15px;
}
  
  /* Media queries para telas menores */
  @media only screen and (max-width: 768px) {
    .anchor{
      margin-right: 0.80rem;
      font-size: smaller;
      margin-right: 1rem;
  
  
    }
    .project {
        flex-direction: column;
        align-items: center;
    }
  
    .projectsImages {
        width: 80vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
  
    .projectsText {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
  
    .projectText {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
  
    .button {
        margin-left: auto;
        margin-right: auto;
    }
  
    h4 {
        padding-top: 4rem;
    }
  
    .projectTitlePoke {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .downloadButton {
      width: 100%; /* Torna os botões mais largos em telas menores */
    }
  }
      
      @media only screen and (max-width: 576px) {
        .anchor {
          font-size: 0.90rem; /* Tamanho para telas menores que 576px */
          margin-right: 1.25rem;
        }
      }
      @media only screen and (max-width: 405px) {
        .anchor {
          font-size: 0.73rem; /* Tamanho para telas menores que 576px */
          margin-right: 1.23rem;
  
        }
       
      }
      @media only screen and (max-width: 350px) {
        .anchor {
          margin-right: 1rem;
          font-size: 0.60rem; /* Tamanho para telas menores que 576px */
        }
        .h4grupo{
        }
      }
      @media (max-width: 1024px) {
        .projectsImages {
          width: 100%; /* As imagens ocupam 100% da largura disponível em telas pequenas */
          max-width: 100%; /* Removendo a largura máxima da imagem */
        }
      
        .project {
          flex-direction: column; /* As imagens e as descrições ficam uma embaixo da outra */
          align-items: center; /* Centraliza as seções */
        }
      
        .projectsText {
          margin-top: 15px; /* Adiciona espaço entre a imagem e o texto */
          padding-left: 0; /* Remove o padding lateral em telas pequenas */
          text-align: center; /* Centraliza o texto */
        }
      }
